.navbar {
  background-color: #00ADB5;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 20px;
  height: 75px;
}
.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links-item {
  font-size: 16px;
  color: #EEEEEE;
  text-decoration: none;
}
.item-upcoming {
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 20px;
}
.item-trending {
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 20px;
}
.navbar-links-item:not(:last-child) {
  margin-right: 20px;
}