.navbar {
  background-color: #00adb5;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 20px;
  height: 75px;
}

.navbar-links-item {
  font-size: 16px;
  color: #eeeeee;
  text-decoration: none;
}

.item-upcoming {
  font-weight: bold;
  color: #ffffff;
  margin-right: 20px;
  text-decoration: none;
}
.item-trending {
  font-weight: bold;
  color: #ffffff;
  margin-right: 20px;
  text-decoration: none;
}

.navbar-links-item:not(:last-child) {
  margin-right: 20px;
}
