.search-card {
    background-color:#393E46;
    color: #EEEE;
    
    border-radius: 3.5px;
}

/*/.poster-card {
    margin: 10px;
    padding-top: 10px;
    height: 40px;
    width: 20px;
}/*/

.overview-card {
    background-color: #EEEE;
    color: #393E46;
    padding: 10px;
    margin: 5px;
    border-radius: 3.5px;
}

.more-details > a {
    color: #EEEE;
    text-decoration: none;
}

 .more-details > a:hover{
    text-decoration: underline;
}

