.trending-movie-container {
    
    border-radius: 10px;
    width: 50%;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
  }

  .trending-movie-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    height: 20px;
  }

  .trending-item {
    width: calc
      100%; /* Adjust the width as needed for 3 cards per row */
    margin-bottom: 20px; /* Adjust spacing between rows as needed */
    box-sizing: border-box;
    margin-top: 10px;
  }


  
